<div class="main container" style="">
  <div  style="border-radius:0px;">
    <h1>Spotify Search</h1>

    <p>
       Create a dynamic playlist, by adding new albums to the field.

      <br/>
      <br/>


    <tags-input ng-model="tags"
                display-property="name"
                placeholder="Add an album"
                replace-spaces-with-dashes="false"
                template="tag-template">
      <auto-complete source="loadAlbums($query)"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"
                     template="autocomplete-template"></auto-complete>
    </tags-input>




    <div style="display:none">
      {{tags}}
    </div>


    <br/>

    <cardflow model="tags" mode="swipeSnapKinetic" >
        <div ng-id="{{card.id}}" class="cardflow-card" ng-repeat="card in tags" style="background-image: url( {{card.cover}} )" ng-click="playAlbum(card.id)">
            {{ card.title }}
        </div>
    </cardflow>

    <br/>
    <br/>


    <br/>

    <div style="width:100%; text-align:center" ng-if="audioObject">
      <div ng-if="isPaused">
      <button class="btn btn-primary btn-large" style="width:160px;height:60px" ng-click="changePlayingState(true)"><i class="fa fa-play fa-lg"></i></button>
      </div>
      <div ng-if="isPlaying">
      <button class="btn btn-danger btn-large" style="width:160px;height:60px" ng-click="changePlayingState(false)"><i class="fa fa-pause fa-lg"></i></button>
      </div>
    </div>


    </p>
  </div>



</div>

<script type="text/ng-template" id="tag-template">
  <div class="tag-template">
    <div class="left-panel">
      <img ng-src={{data.thumbnail}} ng-if="data.thumbnail" style="width:15px" />
    </div>
    <div class="right-panel">
      <span>{{$getDisplayText()}}</span>
      <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
  <div class="autocomplete-template">
    <div class="left-panel">
      <img ng-src={{data.thumbnail}} />
    </div>
    <div class="right-panel">
      <span ng-bind-html="$highlight($getDisplayText())"></span>
    </div>
  </div>
</script>
