<div class="main container" style="">
  <div  style="border-radius:0px;">
    <h1>Music Search</h1>
    <p>
       Create a dynamic playlist by adding albums to the field below.
     <br/>
     <br/>
     <div style="float:left">
       Search per Artist  <input id="radioArtists" type="radio" name="searchType" ng-value="artists" checked=""  ng-click="switchSearchMode()" />
       <span style="margin-left:30px">Search per Album</span>  <input id="radioAlbums" type="radio" name="searchType" ng-value="albums" ng-click="switchSearchMode()" />
     </div>

    <br/>
    <br/>

    <div id="tagInputArtists">
      <input type="text" ng-model="inputArtist" class="artist-input form-control" placeholder="Search an Artist" ng-change="logArtist()" />
    </div>

    <div id="tagInputAlbums" style="display:none">
      <tags-input ng-model="tags"
                  display-property="name"
                  placeholder="Add an album"
                  replace-spaces-with-dashes="false"
                  template="tag-template"
                  >
        <auto-complete source="loadAlbums($query)"
                       min-length="0"
                       load-on-focus="true"
                       load-on-empty="true"
                       max-results-to-show="32"
                       template="autocomplete-template"></auto-complete>
      </tags-input>
    </div>

    <div style="display:none">
      {{tags}}
    </div>
    <br/>
    <tabs>
      <pane title="Search Results">
        <br/>
        Nb result(s) : {{resultsArtistSearch.length}}
        <br/>
        <br/>
        <div class="row">
          <div ng-repeat="artist in resultsArtistSearch">
                <div class="col-sm-4" ng-if="artist.images[0].url">
                  <div class="card">
                    <a href="https://play.spotify.com/artist/{{artist.id}}" target="_blank">
                      <img src="{{artist.images[0].url}}" alt="Avatar" style="width:100%">
                    </a>
                    <div class="container">
                      <br/>
                      <p style="font-weight:900">{{artist.name}}</p>
                      <p><span style="text-decoration:underline">Followers :</span> &nbsp; {{artist.followers.total}}</p>
                      <span class="capitalize" ng-if="artist.genres[0]"><span style="text-decoration:underline">Genre : </span>&nbsp; {{artist.genres[0]}}</span>
                      <br ng-if="artist.genres[0]" />
                      <br/>
                      <button class="btn btn-warning btn-large" ng-click="seeAlbums('{{artist.id}}')"><i class="fa fa-plus-square"></i> Albums</button>
                      <br/>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </pane>

      <pane title="Player">
        <br/>
        <br/>
        <cardflow model="tags" mode="swipeSnapKinetic" >
            <div ng-id="{{card.id}}" class="cardflow-card" ng-repeat="card in tags" style="background-image: url( {{card.cover}} )" ng-click="playAlbum(card.id)">
                {{ card.title }}
            </div>
        </cardflow>
        <br/>
        <br/>
        <br/>
        <div style="width:100%; text-align:center" ng-if="audioObject">
          <div ng-if="isPaused">
          <button class="btn btn-primary btn-large" style="width:160px;height:60px;border-radius:90px" ng-click="changePlayingState(true)"><i class="fa fa-play fa-lg"></i></button>
          </div>
          <div ng-if="isPlaying">
          <button class="btn btn-danger btn-large" style="width:160px;height:60px;border-radius:90px" ng-click="changePlayingState(false)"><i class="fa fa-pause fa-lg"></i></button>
          </div>
        </div>
      </pane>
    </tabs>
    <br/>
    <hr/>
    David Barrat - GitHub <a href="https://github.com/dbrrt" target="_blank">(dbrrt)</a>
    <br/>
    <br/>
    </p>
  </div>

</div>
